body
  font-family: 'Microsoft yahei', sans-serif

.home .hero img
  width: 200px

blockquote
  color: $accentColor
  border-left: 0.2rem solid #2196F3
  background-color: #f3f5f7

iframe
  width: 640px
  height: 430px
  max-width: 100%
